/*aquí van los temas en específico para la página, colores mas que todo*/

.ui.coyote.button {
    background-color: #f5cd2b;
}

#botonConocenos {
    margin-top: 8.5%;
}

.ui.elemento.segment {
    background-color: #353535;
    border-radius: 35px;
}
